<div th:fragment="navbar">
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
	  <div class="container-fluid">
	    <a class="navbar-brand">Welcome to My Plant Diary!</a>
		    <div class="collapse navbar-collapse" id="navbarNav">
		      <ul class="navbar-nav">
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" href="/start">Home</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="/sustainability">Sustainablilty</a>
		        </li>
		      </ul>
	    </div>
		<form class="d-flex" role="search" action="#" th:action="@{/searchPlants}" method="GET">
	      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searchTerm">
	      <button class="btn btn-outline-success" type="submit">Search</button>
	    </form>
	  </div>
	</nav>
</div>
